header.top-section
  div.would-be-header
    div.container
      div.row-fluid
        div.span12 
          h1.title Nothing Here

section.container
  div.row
    div.span3.left-nav
      verticalnav(ng-controller="NavCtrl#index")
    div.span9.right-content
      blogposts(ng-controller="BlogCtrl#index")