div.blogpost
  h4.blog-title
    {{blogpost.title}}
    span.right-date {{blogpost.created_at}}
  div.blog-contents
    span.image-left(class="{{blogpost | blogPostImageClass }}")
      a(href="{{blogpost.image}}")
        img(src="{{blogpost.image}}")
    {{blogpost.content}}